<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tms.space.lbs_driver.tms_mapop" >

    <application>


        <!--笔记本-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="38955b37ec2d7b55d09d2511a9159b19"/>

        <!--公司pc-->
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="b6f90b7e102bb4303824e0bc6f0be458"/>-->

        <!-- 高德地图定位服务 -->
        <service android:name="com.amap.api.location.APSService"
            android:process=":gd_location"/>

        <!-- 本地定位采集服务 -->
        <service android:name=".server.TrackTransferService"
            android:process=":track"/>

        <!--地图显示-->
        <activity android:name=".display.MapActivity"
            android:launchMode="singleInstance"
            android:process=":map_display"
            />

    </application>

</manifest>
